<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earth.libbase">

    <application>
        <activity android:name=".dialog.PointDialogActivity"
            android:theme="@style/dialog_style">

        </activity>
    </application>

</manifest>